   <!--this is for the nav bar-->
<section id="NavBar">
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="active nav-item">
                        <a class="nav-link" href="/HomePage">GET-BUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TrackBus">TRACKING</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/NearestStop">NEAREST-STOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Map">BEST-INFO</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>